@charset "utf-8";
/* CSS Document */

/* FONT */
@font-face{font-family: 'mong'; src: url(font/monbaiti.ttf);}
@font-face{font-family: 'cons'; src: url(font/consola.ttf);}
@font-face{font-family: 'verd'; src: url(font/verdanab.ttf);}
@font-face{font-family: 'scor1'; src: url(font/SCDream1.otf);}
@font-face{font-family: 'scor2'; src: url(font/SCDream2.otf);}
@font-face{font-family: 'scor3'; src: url(font/SCDream3.otf);}
@font-face{font-family: 'scor4'; src: url(font/SCDream4.otf);}
@font-face{font-family: 'scor5'; src: url(font/SCDream5.otf);}
@font-face{font-family: 'scor6'; src: url(font/SCDream6.otf);}
@font-face{font-family: 'scor7'; src: url(font/SCDream7.otf);}
@font-face{font-family: 'scor8'; src: url(font/SCDream8.otf);}
@font-face{font-family: 'scor9'; src: url(font/SCDream9.otf);}

body { background-color: #F7F7F7;}
		
		
		
		

		/* INTRO ENTER */
		#intro {
			z-index: 5000;
			position: fixed;
			background: #2c2e35; width: 100%; height: 100%;
			color: #fff;
			display: none;
		}
		#intro .introtext h2 {
			position: absolute;
			top: 42%; left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			z-index: 5500;
		}
			#intro .enter {
			color: #000;
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			margin-top: 80px; 
			padding: 16px; padding-left: 70px; padding-right: 70px;
			box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
			background: #999;
			border-radius: 10px;
			z-index: 5500;
			
			animation-name: enterHover;
			animation: 0.5s linear forwards alternate;
		}
		
		#intro a:hover {
			color: #444;
		}
		
		@keyframes enterHover{
			0%{
				background: #999;
			}
			100%{
				background: #222; color: #fff;
			}
		}
		@keyframes enterOut{
			0%{
				background: #222; color: #fff;
			}
			100%{
				background: #999;
			}
		}
		
		
	/*	body {overflow-y: hidden; overflow-x: hidden;} */
		
		
		




		/* INTRO MOVE BACK */
		.introleft1 img{
		position: absolute;
		top: 0%; left: 0%;
		animation: introLeft1 20s infinite ease alternate;
		z-index: 5200;
		}
		@keyframes introLeft1 {
			0% { top: 0%; }
			100% { top: -100%; }
		}
		
		.introleft2 img{
		position: absolute;
		top: 0%; left: 0px;
		animation: introLeft2 40s infinite ease alternate;
		z-index: 5100;
		}
		@keyframes introLeft2 {
			0% { top: -100%; }
			100% { top: 0%; }
		}
		
		
		.introright1 img{
		position: fixed;
		top: 0%; right: 0%;
		animation: introRight1 20s infinite ease alternate;
		z-index: 5200;
		}
		@keyframes introRight1 {
			0% { top: 0%; }
			100% { top: -100%; }
		}
		
		.introright2 img{
		position: fixed;
		top: 0%; right: 0%;
		animation: introRight2 40s infinite ease alternate;
		z-index: 5100;
		}
		@keyframes introRight2 {
			0% { top: -100%; }
			100% { top: 0%; }
		}
		
		
		
		
		
		
		
		
		
		
		/* RESET, CLEARFIX */
		.clearfix::before, .clearfix::after
			{
				display:none; content: ''; clear: both;
			}
		li{list-style: none;}
		a{text-decoration: none; color: #000;}
		*{margin: 0; padding: 0;}
		
		
		
		/* WARP */
		#wrap {
			width: 1000px; margin: 0 auto;
		}
		
		
		
		
		
		
		
		
		
		/* MENU */
	
		
		
		
		
		
		
		
		
		/* TOP UP BTN */
		#topBtn {
			position: fixed;
			bottom: 50px; right: 50px;
			
			width: 50px; height: 50px;
			border-radius: 50%;
			z-index: 1000;
			display: none;
			background: #555;
		}

		.upIcon {
			position: absolute;
			margin-bottom: 14px; margin-left: 18.5px;
			border: solid #fff;
			border-width: 0 4px 4px 0;
			display: inline-block;
			padding: 4px;
			transform: rotate(-135deg);
			
			animation: iconMove 1s infinite linear normal
		}
		@keyframes iconMove {
			0% {
				bottom: 0px; opacity: 0;
			}
			100% {
				bottom: 8px; opacity: 1;
			}
		}



/* SCROLL */
.scrollText {
	position: fixed; bottom: 120px; right: 46px;
	transform: rotate(-90deg);
	font-size: 14px; font-family: scor9; z-index: 5000;
}
.scroll {
	position: fixed;
	bottom: 40px; right: 86px;
	transform: rotate(-90deg); z-index: 5000;
}
.stroke {
	position: absolute; top: 10px; right: -50px;
	width: 40px; height: 3px; background: #000;
	float: right;
	margin-left: 10px;
	z-index: 1000;

	animation: Sstroke 1.3s infinite ease normal;
}
@keyframes Sstroke {
	0%	{width: 0;}
	50% {width: 40px;}
	51% {width: 0;}
	100%{width: 0;}
}

.scroll2 {
	position: fixed;
	bottom: 40px; right: 63px;
	transform: rotate(90deg); z-index: 5000;
}
.stroke2 {
	position: absolute; top: 10px; right: 10px;
	width: 40px; height: 3px; background: #000;
	float: right;
	margin-left: 10px;
	z-index: 1000;

	animation: Sstroke2 1.3s infinite ease normal;
}
@keyframes Sstroke2 {
	0%	{width: 0;}
	49% {width: 0;}
	50% {width: 40px;}
	100%{width: 0;}
}




	



		
		/* HEADER */
		#header
		{
			background: #F7F7F7;
			width: 100%; height: 50px;
			position: fixed; top: 0; left: 0;
			z-index: 1000;
		}
		#header .topnav {
			width: 1000px; margin: auto;
		}



		#header h1 {
			position: absolute;
			padding-left: 10px;
		}
		
		#header .nav {
			width: 400px;
			position: absolute; left: 50%; right: 50%;
			transform: translate(-50%, -50%); top: 24px;
		}
		#header .nav li {
			float: left; width: 25%;;
			text-align: center;
		}
		#header .nav li a {
			padding: 14px; display: block; font-size: 16px;
		}
		#header .nav li a:hover {color:#FF0004;}









		/* - */
		#about .hello {margin-top: 100px;}
		/* ABOUT */
		#about {
			float: left; width: 100%; background: #FFD8D8;
			height: 700px;
			position: relative; z-index: 100;
		}
		
.born{
	position: absolute; top: 158px; left: 270px;
	animation: bornIn 1.5s 1s forwards normal;
	opacity: 0;
	font-family: scor8;
	color: #2c2c2c;
}
@keyframes bornIn {
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* text */
		#about .hello h2{
			font-size: 100px; font-weight: bold;
			line-height: 110px;
			font-family: verd;
			margin-top: 140px;
			margin-left: 50px;
		}
		#about .hello p {
			color: #002CFF; font-weight: 550;
			margin-top: 50px; margin-left: 60px;
			animation: fadeInUpp 1.5s forwards normal
		}
/* - */
	

		
		

/* SLIDE UP HELLO */
.popol {animation: fadeInUph2 1.5s forwards normal}
@keyframes fadeInUph2 {
	from{
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUpp {
	from{
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}












		




		/* SKILL */
		#skill {
			float: left; width: 100%; height: 700px;
			text-align: center;
		}
#skill > h3 {
	margin-top: 80px;
	font-size: 24px;
}
		#skill > img {
			margin-top: 80px; padding: 6px;
		}
/*HTML*/
#skill > img:nth-child(2) {
	width: 100px;
}
/*CSS*/
#skill > img:nth-child(3) {
	width: 100px; padding-right: 80px;
}
/*JS*/
#skill > img:nth-child(4) {
	width: 100px;
}
/*JQ*/
#skill > img:nth-child(5) {
	width: 100px;
}


/*PS*/
#skill > img:nth-child(8) {width: 100px; height: 100px;}

/*AI*/
#skill > img:nth-child(9) {width: 100px; height: 100px;}

/*ID*/
#skill > img:nth-child(10) {width: 100px; height: 100px;}
		

/*M*/
#skill .skillcon 
{
	margin: auto; margin-top: 30px;
	width: 620px; height: 10px;
	font-family: scor6;
}
#skill li {float:left; width: 50%; text-align: center;}
	

/*S*/
#skill > p:nth-child(11) {font-family: scor6; margin-top: 30px;}





		
		/* WORL */
		#work {float: left; width: 100%; height: 1800px;}


.workline {
	border-top: 3px solid #C5C5C5;
	width: 800px; margin: auto; margin-top: 100px;
}
		#work h3 {margin-top: 100px; text-align: center;}
		#work .workcon {
			width: 600px; height: 50px;
			margin-left: auto; margin-right: auto; margin-top: 80px;
			border-radius: 10px; background: #D8D8D8;
		}
		#work .workcon li {float: left; width: 33.3333%; text-align: center;}
		#work .workcon li a {
			border-radius: 10px;
			padding: 14px; display: block; font-size: 16px; font-weight: bold;
		}
		#work .workcon li a:hover {background: rgba(0,0,0,0.1);}



		#work .drawing {margin-top: 100px;}
		#work .drawing h4 {
			margin-left: 50px; margin-bottom: 30px;
			font-family: scor7; font-size: 30px;
		}

		/* CONTECT */
		#contact {
			float: left; width: 100%; height: 400px; background: #E8E8E8;
			position: relative;
		}


		#contact .context {
			font-family: scor;
			margin-top: 60px; margin-left: 100px;
		}


		#contact h3 {
			font-size: 24px; font-weight: bold; margin-bottom: 16px;
			font-family: scor7; color: #555;
		}
		#contact .context li {
			margin-top: 4px;
			font-size: 16px; font-weight: 500;
			font-family: scor3;
			color: #444;
		}

		.map {margin-top: 50px;}


		#contact .inst {
			position: absolute; top: 60px; right: 100px; font-family: scor7; color: #555;
		}
		#contact .inst ul {margin-bottom: 16px; font-weight: bold; font-size: 24px;}
		#contact a {font-family: scor3; color: #555; animation: inst;}
		#contact a:hover{color:#FF004F;}





		#contact .inst p {float: right; margin-left: 10px; margin-top: 2px;}


