@charset "utf-8";
/* CSS Document */

/* FONT */
@font-face{font-family: 'mong'; src: url(font/monbaiti.ttf);}
@font-face{font-family: 'cons'; src: url(font/consola.ttf);}
@font-face{font-family: 'verd'; src: url(font/verdanab.ttf);}
@font-face{font-family: 'scor1'; src: url(font/SCDream1.otf);}
@font-face{font-family: 'scor2'; src: url(font/SCDream2.otf);}
@font-face{font-family: 'scor3'; src: url(font/SCDream3.otf);}
@font-face{font-family: 'scor4'; src: url(font/SCDream4.otf);}
@font-face{font-family: 'scor5'; src: url(font/SCDream5.otf);}
@font-face{font-family: 'scor6'; src: url(font/SCDream6.otf);}
@font-face{font-family: 'scor7'; src: url(font/SCDream7.otf);}
@font-face{font-family: 'scor8'; src: url(font/SCDream8.otf);}
@font-face{font-family: 'scor9'; src: url(font/SCDream9.otf);}

body { background-color: #F7F7F7;}
		
		
		
		

		/* INTRO ENTER */
		#intro {
			z-index: 5000;
			position: fixed;
			background: #2c2e35; width: 100%; height: 100%;
			color: #fff;
			display: none;
		}
		#intro .introtext h2 {
			position: absolute;
			top: 42%; left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			z-index: 5500;
		}
			#intro .enter {
			color: #000;
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			margin-top: 80px; 
			padding: 16px; padding-left: 70px; padding-right: 70px;
			box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
			background: #999;
			border-radius: 10px;
			z-index: 5500;
			
			animation-name: enterHover;
			animation: 0.5s linear forwards alternate;
		}
		
		#intro a:hover {
			color: #444;
		}
		
		@keyframes enterHover{
			0%{
				background: #999;
			}
			100%{
				background: #222; color: #fff;
			}
		}
		@keyframes enterOut{
			0%{
				background: #222; color: #fff;
			}
			100%{
				background: #999;
			}
		}
		
		
	/*	body {overflow-y: hidden; overflow-x: hidden;} */
		
		
		




		/* INTRO MOVE BACK */
		.introleft1 img{
		position: absolute;
		top: 0%; left: 0%;
		animation: introLeft1 20s infinite ease alternate;
		z-index: 5200;
		}
		@keyframes introLeft1 {
			0% { top: 0%; }
			100% { top: -100%; }
		}
		
		.introleft2 img{
		position: absolute;
		top: 0%; left: 0px;
		animation: introLeft2 40s infinite ease alternate;
		z-index: 5100;
		}
		@keyframes introLeft2 {
			0% { top: -100%; }
			100% { top: 0%; }
		}
		
		
		.introright1 img{
		position: fixed;
		top: 0%; right: 0%;
		animation: introRight1 20s infinite ease alternate;
		z-index: 5200;
		}
		@keyframes introRight1 {
			0% { top: 0%; }
			100% { top: -100%; }
		}
		
		.introright2 img{
		position: fixed;
		top: 0%; right: 0%;
		animation: introRight2 40s infinite ease alternate;
		z-index: 5100;
		}
		@keyframes introRight2 {
			0% { top: -100%; }
			100% { top: 0%; }
		}
		
		
		
		
		
		
		
		
		
		
		/* RESET, CLEARFIX */
		.clearfix::before, .clearfix::after
			{
				display:none; content: ''; clear: both;
			}
		li{list-style: none;}
		a{text-decoration: none; color: #000;}
		*{margin: 0; padding: 0;}
		
		
		
		/* WARP */
		#wrap {
			width: 1000px; margin: auto;
		}
		
		
		
		
		
		
		
		
		
		/* MENU */
	
		
		
		
		
		
		
		
		
		/* TOP BTN */
		#topBtn {
			position: fixed;
			bottom: 50px; right: 50px;
			
			width: 50px; height: 50px;
			border-radius: 50%;
			z-index: 1000;
			display: none;
			background: #555;
		}

		.upIcon {
			position: absolute;
			margin-bottom: 14px; margin-left: 18.5px;
			border: solid #fff;
			border-width: 0 4px 4px 0;
			display: inline-block;
			padding: 4px;
			transform: rotate(-135deg);
			
			animation: iconMove 1s infinite linear normal
		}
		@keyframes iconMove {
			0% {
				bottom: 0px; opacity: 0;
			}
			100% {
				bottom: 8px; opacity: 1;
			}
		}





		
		
		/* HEADER */
		#header
		{
			background: #F7F7F7;
			width: 100%; height: 50px;
			position: fixed; top: 0; left: 0;
			z-index: 1000;
		}
		#header .topnav {
			width: 1000px; margin: auto;
		}



		#header h1 {
			position: absolute;
			padding-left: 10px;
		}
		
		#header .nav {
			width: 400px;
			margin-left: auto; margin-right: auto;
		}
		#header .nav li {
			float: left; width: 25%;;
			text-align: center;
		}
		#header .nav li a {
			padding: 14px; display: block; font-size: 16px;
		}
		#header .nav li a:hover {color:#FF0004;}









		/* - */
		#about .hello {padding-bottom: 50px; padding-top: 50px;}
		/* ABOUT */
		#about {
			float: left; width: 100%; background: #FFD8D8;
			margin-top: 50px;
			height: 700px;
		}
		

/* text */
		#about .hello h2{
			font-size: 100px; font-weight: bold;
			line-height: 110px;
			font-family: verd;
			margin-top: 50px;
			margin-left: 20px;
		}
		#about .hello p {
			color: #002CFF; font-weight: 550;
			margin-top: 50px; margin-left: 30px;
		}
/* - */
	

		.info {float: left; width: 100%; background: #B82C2C;}
		
		
		
		/* SKILL */
		#skill {float: left; width: 100%; height: 500px; background: #777;}
		#skill img {width: 100px; height: 100px;}
		
		
		
		/* WORL */
		#work {float: left; width: 100%; height: 1000px;}
#work h3 {margin-left: auto; margin-right: auto;}
#work .workcon {
	width: 600px; height: 50px;
	margin-left: auto; margin-right: auto; margin-top: 50px;
	border-radius: 10px; background: #D8D8D8;
}
#work .workcon li {float: left; width: 33.3333%; text-align: center;}
#work .workcon li a {
	border-radius: 10px;
	padding: 14px; display: block; font-size: 16px; font-weight: bold;
}
#work .workcon li a:hover {background: rgba(0,0,0,0.1);}


#work .drawing {margin-top: 100px;}
#work .drawing h4 {
	margin-left: 50px; margin-bottom: 30px;
	font-family: scor7; font-size: 30px;
}

		/* CONTECT */
		#contact {
			float: left; width: 100%; height: 400px; background: #E8E8E8;
			position: relative;
		}


		#contact .context {
			font-family: scor;
			margin-top: 60px; margin-left: 100px;
		}


		#contact h3 {
			font-size: 24px; font-weight: bold; margin-bottom: 16px;
			font-family: scor7; color: #555;
		}
		#contact .context li {
			margin-top: 4px;
			font-size: 16px; font-weight: 500;
			font-family: scor3;
			color: #444;
		}

		.map {margin-top: 50px;}


		#contact .inst {
			position: absolute; top: 60px; right: 100px; font-family: scor7; color: #555;
		}
		#contact .inst ul {margin-bottom: 16px; font-weight: bold; font-size: 24px;}
		#contact a {font-family: scor3; color: #555; animation: inst;}
		#contact a:hover{color:#FF004F;}





		#contact .inst p {float: right; margin-left: 10px; margin-top: 2px;}


