@charset "utf-8";
/* CSS Document */

/* FONT */
@font-face{font-family: 'mong'; src: url(font/monbaiti.ttf);}
@font-face{font-family: 'cons'; src: url(font/consola.ttf);}
@font-face{font-family: 'verd'; src: url(font/verdanab.ttf);}
@font-face{font-family: 'scor1'; src: url(font/SCDream1.otf);}
@font-face{font-family: 'scor2'; src: url(font/SCDream2.otf);}
@font-face{font-family: 'scor3'; src: url(font/SCDream3.otf);}
@font-face{font-family: 'scor4'; src: url(font/SCDream4.otf);}
@font-face{font-family: 'scor5'; src: url(font/SCDream5.otf);}
@font-face{font-family: 'scor6'; src: url(font/SCDream6.otf);}
@font-face{font-family: 'scor7'; src: url(font/SCDream7.otf);}
@font-face{font-family: 'scor8'; src: url(font/SCDream8.otf);}
@font-face{font-family: 'scor9'; src: url(font/SCDream9.otf);}

body { background-color: #F7F7F7;}
		
		
		
		

		/* INTRO ENTER */
		#intro {
			z-index: 5000;
			position: fixed;
			background: #fff; width: 100%; height: 100%;
		}


#intro .introtext {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: #888;
}

		#intro .introtext h2 {
			background: #fff; width: 380px; height: 100px;
			text-align: center; color: #000;
			font-size: 30px; font-family: scor6;
			z-index: 5500;
			position: absolute;
			top: 50%; left: 50%; margin-top: 10px;
			transform: translate(-50%, -50%);
			
			animation: 1s forwards normal;
		}
@keyframes h2ani {
	0%		{width: 380px;}
	100%	{width: 300px;}
}
@keyframes h2aniO {
	0%		{width: 300px;}
	100%	{width: 380px;}
}

.introS {
	width: 400px; height: 60px;
	border: 5px solid;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	
	animation: 1s forwards normal;
}
@keyframes tani {
	0%		{width: 400px;}
	100%	{width: 320px;}
}
@keyframes taniO {
	0%		{width: 320px;}
	100%	{width: 400px;}
}

.introtext span{
	font-family: scor8; font-size: 10px;
	position: absolute;
	top: 50%; left: 50%; margin-left: 226px;
	width: 70px;
	transform: translate(-50%, -50%) rotate(-90deg);;
	z-index: 5600;
	
	animation: push 2s forwards normal;
}
@keyframes push {
	0%		{margin-left: 260px; opacity: 0;}
	100%	{ opacity: 1;}
}


			#intro .enter {
			color: #000;
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			margin-top: 160px;
			padding: 14px; padding-left: 40px; padding-right: 40px;
			font-size: 20px;
			z-index: 5500;
			background: #E1E1E1; border-radius: 5px;
			
			}






	body {overflow-y: hidden; overflow-x: hidden;}
		
		
		




		/* INTRO MOVE BACK */
/*
		.introleft1 img{
		position: absolute;
		top: 0%; left: 0%;
		animation: introLeft1 20s infinite ease alternate;
		z-index: 5200;
		}
		@keyframes introLeft1 {
			0% { top: 0%; }
			100% { top: -100%; }
		}
		
		.introleft2 img{
		position: absolute;
		top: 0%; left: 0px;
		animation: introLeft2 40s infinite ease alternate;
		z-index: 5100;
		}
		@keyframes introLeft2 {
			0% { top: -100%; }
			100% { top: 0%; }
		}
		
		
		.introright1 img{
		position: fixed;
		top: 0%; right: 0%;
		animation: introRight1 20s infinite ease alternate;
		z-index: 5200;
		}
		@keyframes introRight1 {
			0% { top: 0%; }
			100% { top: -100%; }
		}
		
		.introright2 img{
		position: fixed;
		top: 0%; right: 0%;
		animation: introRight2 40s infinite ease alternate;
		z-index: 5100;
		}
		@keyframes introRight2 {
			0% { top: -100%; }
			100% { top: 0%; }
		}
		
		
*/		
		
		
		
		
		
		
		
		/* RESET, CLEARFIX */
		.clearfix::before, .clearfix::after
			{
				display:none; content: ''; clear: both;
			}
		li{list-style: none;}
		a{text-decoration: none; color: #000;}
		*{margin: 0; padding: 0;}
		
		
		
		/* WARP */
		#wrap {
			width: 1000px; margin: 0 auto;
		}
		
		
		
		
		
		
		
		
		
		/* MENU */
	
		
		
		
		
		
		
		
		
		/* TOP UP BTN */
		#topBtn {
			position: fixed;
			bottom: 50px; right: 50px;
			
			width: 50px; height: 50px;
			border-radius: 50%;
			z-index: 2000;
			display: none;
			background: #555;
		}

		.upIcon {
			position: absolute;
			margin-bottom: 14px; margin-left: 18.5px;
			border: solid #fff;
			border-width: 0 4px 4px 0;
			display: inline-block;
			padding: 4px;
			transform: rotate(-135deg);
			
			animation: iconMove 1s infinite linear normal
		}
		@keyframes iconMove {
			0% {
				bottom: 0px; opacity: 0;
			}
			100% {
				bottom: 8px; opacity: 1;
			}
		}



/* SCROLL */
.scrollText {
	position: fixed; bottom: 120px; right: 46px;
	transform: rotate(-90deg);
	font-size: 14px; font-family: scor9; z-index: 1100;
}
.scroll {
	position: fixed;
	bottom: 40px; right: 86px;
	transform: rotate(-90deg); z-index: 1100;
}
.stroke {
	position: absolute; top: 10px; right: -50px;
	width: 40px; height: 3px; background: #000;
	float: right;
	margin-left: 10px;
	z-index: 1000;

	animation: Sstroke 1.3s infinite ease normal;
}
@keyframes Sstroke {
	0%	{width: 0;}
	50% {width: 40px;}
	51% {width: 0;}
	100%{width: 0;}
}

.scroll2 {
	position: fixed;
	bottom: 40px; right: 63px;
	transform: rotate(90deg); z-index: 1100;
}
.stroke2 {
	position: absolute; top: 10px; right: 10px;
	width: 40px; height: 3px; background: #000;
	float: right;
	margin-left: 10px;
	z-index: 1000;

	animation: Sstroke2 1.3s infinite ease normal;
}
@keyframes Sstroke2 {
	0%	{width: 0;}
	49% {width: 0;}
	50% {width: 40px;}
	100%{width: 0;}
}




	



		
		/* HEADER */
		#header
		{
			background: #F7F7F7;
			width: 100%; height: 50px;
			position: fixed; top: 0; left: 0;
			z-index: 1000;
		}
		#header .topnav {
			width: 1000px; margin: auto;
			display: none;
		}



		#header h1 {
			position: absolute;
			padding-left: 10px;
		}
		
		#header .nav {
			width: 400px;
			position: absolute; left: 50%; right: 50%;
			transform: translate(-50%, -50%); top: 24px;
		}
		#header .nav li {
			float: left; width: 25%;;
			text-align: center;
		}
		#header .nav li a {
			padding: 14px; display: block; font-size: 16px;
		}
		#header .nav li a:hover {color:#FF0004;}









		/* - */
		#about .hello {margin-top: 100px;}
		/* ABOUT */
		#about {
			float: left; width: 100%; background: #FFD8D8;
			height: 700px;
			position: relative; z-index: 100;
		}
		
.born{
	position: absolute; top: 158px; left: 270px;
	animation: 1.5s 0.6s forwards normal;
	opacity: 0;
	font-family: scor8;
	color: #2c2c2c;
}
@keyframes bornIn {
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* text */
		#about .hello h2{
			font-size: 100px; font-weight: bold;
			line-height: 110px;
			font-family: verd;
			margin-top: 140px;
			margin-left: 50px;
		}
		#about .hello p {
			color: #002CFF; font-weight: 550;
			margin-top: 50px; margin-left: 60px;
			animation:  1.5s forwards normal
		}
/* - */
	

		
		

/* SLIDE UP HELLO */
.popol {animation:  1.5s forwards normal}
@keyframes fadeInUph2 {
	from{
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUpp {
	from{
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}












		




		/* SKILL */
		#skill {
			float: left; width: 100%; height: 700px;
			text-align: center;
			display: none;
		}
#skill > h3 {
	margin-top: 80px;
	font-size: 24px;
}
		#skill > img {
			margin-top: 80px; padding: 6px;
		}
/*HTML*/
#skill > img:nth-child(2) {
	width: 100px;
}
/*CSS*/
#skill > img:nth-child(3) {
	width: 100px; padding-right: 80px;
}
/*JS*/
#skill > img:nth-child(4) {
	width: 100px;
}
/*JQ*/
#skill > img:nth-child(5) {
	width: 100px;
}


/*PS*/
#skill > img:nth-child(8) {width: 100px; height: 100px;}

/*AI*/
#skill > img:nth-child(9) {width: 100px; height: 100px;}

/*ID*/
#skill > img:nth-child(10) {width: 100px; height: 100px;}
		

/*M*/
#skill .skillcon 
{
	margin: auto; margin-top: 30px;
	width: 620px; height: 10px;
	font-family: scor6;
}
#skill li {float:left; width: 50%; text-align: center;}
	

/*S*/
#skill > p:nth-child(11) {font-family: scor6; margin-top: 30px;}





		
		/* WORK */
		#work {float: left; width: 100%; height: 1400px;}


.workline {
	border-top: 3px solid #C5C5C5;
	width: 800px; margin: auto; margin-top: 100px;
}
		#work h3 {margin-top: 100px; text-align: center;}
		#work .workcon {
			width: 600px; height: 50px;
			margin-left: auto; margin-right: auto; margin-top: 80px; margin-bottom: 110px;
			border-radius: 10px; background: #D8D8D8;
		}
		#work .workcon li {float: left; width: 33.3333%; text-align: center;}
		#work .workcon li a {
			border-radius: 10px;
			padding: 14px; display: block; font-size: 16px; font-weight: bold;
		}
		#work .workcon li a:hover {background: rgba(0,0,0,0.1);}


/* DRAWING */
		.Drawing {display: block; position: relative;}
		.Drawing h4 {
			margin-left: 50px; margin-bottom: 30px;
			font-family: scor7; font-size: 30px;
		}
			.Drawing a p{
				font-family: scor3; color: #555;
				float: right; padding-left: 10px;
			}
			.Drawing a{
				position: absolute; top: 100px; lef: 100px;
			}
			.drawingMain {margin-top: 60px;}
				.Drawing a:hover{color: #FF0004}


/* UI / UX */
.UIUX {display: none;}

	.UIUX h4{
		margin-left: 50px; margin-bottom: 30px;
		font-family: scor7; font-size: 30px;
	}


/* CGV WEB BOX */
	.cgvWeb {
		width: 490px; height: 300px; background: #E1E1E1;
		font-size: 24px;
		float: left;
		margin-right: 20px;
		position: relative;
		
		animation: 0.5s forwards normal;
	}


.webText {
	position: absolute; top: 240px; left: 16px;
	animation: 0.5s forwards normal;
}
	.webText h5 {
		color: #fff;
		background: rgba(0,0,0,0.5);
		padding: 5px; padding-left: 10px; padding-right: 10px;
		border-radius: 4px;
	}
.webText p {
	color: #fff; font-size: 16px; font-weight: bold;
	display: none;
	opacity: 0;
	animation: 0.5s forwards normal;
}
.cgvWeb img {animation: 0.5s forwards normal;}

/* WEB HOVER */
@keyframes webOver{
	0%{top: 240px;}
	100%{top: 230px;}
}
@keyframes webOut{
	0%{top: 230px;}
	100%{top: 240px;}
}
/* HOVER P */
@keyframes webOverp{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes webOutp{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/* HOVER IMG */
@keyframes webOverimg{
	0%{filter:brightness(100%);}
	100%{filter:brightness(50%);}
}
@keyframes webOutimg{
	0%{filter:brightness(50%);}
	100%{filter:brightness(100%);}
}

/* CGV APP BOX */
	.cgvApp {
		width: 490px; height: 300px; background: #E1E1E1;
		font-size: 24px;
		float: left;
		position: relative;
	}
.appText {
	position: absolute; top: 240px; left: 16px;
	animation: 0.5s forwards normal;
}
	.appText h5 {
		color: #fff;
		background: rgba(0,0,0,0.5);
		padding: 5px; padding-left: 10px; padding-right: 10px;
		border-radius: 4px;
	}
.appText p {
	color: #fff; font-size: 16px; font-weight: bold;
	display: none;
	opacity: 0;
	animation: 0.5s forwards normal;
}
.cgvApp img {animation: 0.5s forwards normal;}
	/* APP HOVER */
@keyframes appOver{
	0%{top: 240px;}
	100%{top: 230px;}
}
@keyframes appOut{
	0%{top: 230px;}
	100%{top: 240px;}
}
/* HOVER P */
@keyframes appOverp{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes appOutp{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/* HOVER IMG */
@keyframes appOverimg{
	0%{filter:brightness(100%);}
	100%{filter:brightness(50%);}
}
@keyframes appOutimg{
	0%{filter:brightness(50%);}
	100%{filter:brightness(100%);}
}

/* GRAPHIC */
.Graphic{display: none;}

	.Graphic h4{
		margin-left: 50px; margin-bottom: 30px;
		font-family: scor7; font-size: 30px;
	}


				/* SUNRISE */
	.vegetable{
		width: 490px; height: 300px; background: #E1E1E1;
		font-size: 24px;
		float: left;
		position: relative;
		margin-right: 20px; margin-bottom: 20px;
	}

.vegetableText {
	position: absolute; top: 240px; left: 16px;
	animation: 0.5s forwards normal;
}
	.vegetableText h5{
		color: #fff;
		background: rgba(0,0,0,0.5);
		padding: 5px; padding-left: 10px; padding-right: 10px;
		border-radius: 4px;
	}
.vegetableText p{
	color: #fff; font-size: 16px; font-weight: bold;
	display: none;
	opacity: 0;
	animation: 0.5s forwards normal;
}
.vegetable img{animation: 0.5s forwards normal;}
	/* SUNRISE HOVER */
@keyframes vegetableOver{
	0%{top: 240px;}
	100%{top: 230px;}
}
@keyframes vegetableOut{
	0%{top: 230px;}
	100%{top: 240px;}
}
/* HOVER P */
@keyframes vegetableOverp{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes vegetableOutp{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/* HOVER IMG */
@keyframes vegetableOverimg{
	0%{filter:brightness(100%);}
	100%{filter:brightness(50%);}
}
@keyframes vegetableOutimg{
	0%{filter:brightness(50%);}
	100%{filter:brightness(100%);}
}



			/* STAR LIGHT */
.starlight{
		width: 490px; height: 300px; background: #E1E1E1;
		font-size: 24px;
		float: left;
		position: relative;
		margin-bottom: 20px;
	}

.starlightText {
	position: absolute; top: 240px; left: 16px;
	animation: 0.5s forwards normal;
}
	.starlightText h5{
		color: #fff;
		background: rgba(0,0,0,0.5);
		padding: 5px; padding-left: 10px; padding-right: 10px;
		border-radius: 4px;
	}
.starlightText p{
	color: #fff; font-size: 16px; font-weight: bold;
	display: none;
	opacity: 0;
	animation: 0.5s forwards normal;
}
.starlight img{animation: 0.5s forwards normal;}
	/* GRAPHIC HOVER */
@keyframes starlightOver{
	0%{top: 240px;}
	100%{top: 230px;}
}
@keyframes starlightOut{
	0%{top: 230px;}
	100%{top: 240px;}
}
/* HOVER P */
@keyframes starlightOverp{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes starlightOutp{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/* HOVER IMG */
@keyframes starlightOverimg{
	0%{filter:brightness(100%);}
	100%{filter:brightness(50%);}
}
@keyframes starlightOutimg{
	0%{filter:brightness(50%);}
	100%{filter:brightness(100%);}
}



			/* JEJU DO */
.jejudo{
		width: 490px; height: 300px; background: #E1E1E1;
		font-size: 24px;
		float: left;
		position: relative;
		margin-right: 20px;
	}

.jejudoText {
	position: absolute; top: 240px; left: 16px;
	animation: 0.5s forwards normal;
}
	.jejudoText h5{
		color: #fff;
		background: rgba(0,0,0,0.5);
		padding: 5px; padding-left: 10px; padding-right: 10px;
		border-radius: 4px;
	}
.jejudoText p{
	color: #fff; font-size: 16px; font-weight: bold;
	display: none;
	opacity: 0;
	animation: 0.5s forwards normal;
}
.jejudo img{animation: 0.5s forwards normal;}
	/* GRAPHIC HOVER */
@keyframes jejudoOver{
	0%{top: 240px;}
	100%{top: 230px;}
}
@keyframes jejudoOut{
	0%{top: 230px;}
	100%{top: 240px;}
}
/* HOVER P */
@keyframes jejudoOverp{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes jejudoOutp{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/* HOVER IMG */
@keyframes jejudoOverimg{
	0%{filter:brightness(100%);}
	100%{filter:brightness(50%);}
}
@keyframes jejudoOutimg{
	0%{filter:brightness(50%);}
	100%{filter:brightness(100%);}
}



			/* illust */
.illust{
		width: 490px; height: 300px; background: #E1E1E1;
		font-size: 24px;
		float: left;
		position: relative;
		margin-bottom: 20px;
	}

.illustText {
	position: absolute; top: 240px; left: 16px;
	animation: 0.5s forwards normal;
}
	.illustText h5{
		color: #fff;
		background: rgba(0,0,0,0.5);
		padding: 5px; padding-left: 10px; padding-right: 10px;
		border-radius: 4px;
	}
.illustText p{
	color: #fff; font-size: 16px; font-weight: bold;
	display: none;
	opacity: 0;
	animation: 0.5s forwards normal;
}
.illust img{animation: 0.5s forwards normal;}
	/* GRAPHIC HOVER */
@keyframes illustOver{
	0%{top: 240px;}
	100%{top: 230px;}
}
@keyframes illustOut{
	0%{top: 230px;}
	100%{top: 240px;}
}
/* HOVER P */
@keyframes illustOverp{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes illustOutp{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
/* HOVER IMG */
@keyframes illustOverimg{
	0%{filter:brightness(100%);}
	100%{filter:brightness(50%);}
}
@keyframes illustOutimg{
	0%{filter:brightness(50%);}
	100%{filter:brightness(100%);}
}








/* IMG */
	/* Web */
.cgvWebImg {
	display: none;
	z-index: 1000; position: absolute; top: 0; margin: auto;
}
.cgvWebImg img {width: 1000px;}



	/* App */
.cgvAppImg {
	display: none;
	z-index: 1000; position: absolute; top: 0; margin: auto;
}
.cgvAppImg img {width: 1000px;}



	/* Veg */
.vegBanner {
	display: none;
	z-index: 1000; position: absolute; top: 0; margin: auto;
}
.vegBanner img {margin-bottom: 30px;}



	/* STAR */
.starlightImg {
	display: none;
	z-index: 1000; position: absolute; top: 0; margin: auto;
}
.starlightImg img {width: 900px; margin-bottom: 30px;}



	/* jejudo */
.jejudoImg {
	display: none;
	z-index: 1000; position: absolute; top: 0; margin: auto;
}
.jejudoImg img {width: 900px; margin-bottom: 30px;}



	/* illust */
.illustImg {
	display: none;
	z-index: 1000; position: absolute; top: 0; margin: auto;
}
.illustImg img {width: 1000px;}
/* - */








/* BACK BTN */
#backBtn {
	position: fixed;
	top: 30px; left: 50px;

	width: 50px; height: 50px;
	z-index: 2000;
	display: none;
	
}
.backIcon {
	position: absolute;
	margin-top: 14px; margin-left: 18px;
	width: 6px; height: 6px;
	border-bottom:6px solid #A3A3A3;
	border-left:6px solid #A3A3A3;
	padding: 4px;
	transform: rotate(45deg);
}



/* 해당사이트는~ */
.alert {
	float: left; text-align: center; line-height: 150px;
	width: 100%; height: 150px;
	display : none;
}

		/* CONTECT */
		#contact {
			float: left; width: 100%; height: 400px; background: #E8E8E8;
			position: relative;
		}


		#contact .context {
			font-family: scor;
			margin-top: 60px; margin-left: 100px;
		}


		#contact h3 {
			font-size: 24px; font-weight: bold; margin-bottom: 16px;
			font-family: scor7; color: #555;
		}
		#contact .context li {
			margin-top: 4px;
			font-size: 16px; font-weight: 500;
			font-family: scor3;
			color: #444;
		}

		.map {margin-top: 50px;}


		#contact .inst {
			position: absolute; top: 60px; right: 100px; font-family: scor7; color: #555;
		}
		#contact .inst ul {margin-bottom: 16px; font-weight: bold; font-size: 24px;}
		#contact a {font-family: scor3; color: #555; animation: inst;}
		#contact a:hover{color:#FF004F;}





		#contact .inst p {float: right; margin-left: 10px; margin-top: 2px;}


